
$primary: #aae152;
$secondary: #FA5959;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary
);

.nav-item {
    margin-right: 1.5rem;
}
@import "/Users/mirandacallejonhuertes/node_modules/bootstrap/scss/bootstrap";