
// $font-family-sans-serif: "Rubik", sans-serif;

$primary:#5265E1;
$secondary: #FA5959;

// $theme-colors: (
//   "primary":    $primary,
//   "secondary":  $secondary,
//   );


.card-group {
  margin-left: 50%;
  margin-right: 50%;
  padding: 20rem;
}

.card-group .card {
  max-width: 208px;
}



  @import "../node_modules/bootstrap/scss/bootstrap.scss";
  
  
.nav-tabs .nav-link {
  color:black;
  border: 2px;
  border-bottom: 1px solid rgb(131, 131, 131)
}

.nav-tabs .nav-link:hover {
  color:rgb(255, 84, 84);
  border-bottom: 1px solid rgb(131, 131, 131)
  }
  
.nav-tabs .nav-link.active {
  color:black;
  font-weight: bold;
  border-bottom: 3px solid $secondary;
}
.body {
  max-width: 1200;
}
// @media (max-width: 765px) {
//   .body {
//     margin-left: 0;
//     margin-right: 0;
//     padding: 0;
//   }
//   .card-group {
//     margin-left: 0;
//     margin-right: 0;
//     padding: 0;
//   }

  
// }
